body {
  background-image: url(https://images.pexels.com/photos/326058/pexels-photo-326058.jpeg?cs=srgb&dl=pexels-pixabay-326058.jpg&fm=jpg);
}
.logo img {
  height: auto;
  width: 75px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}
.nav ul{
  gap: 200px;
  display: flex;
}
.nav {

display: flex;
justify-content: flex-end;

}

h1 {
  text-align: center;

}
.otsing img{
  width: 30px;
  height: auto;
}
p {
  text-align: center;
}

}
.pilt {
  justify-content: center;
  width: 80%;
  height: auto;
  display:flex;

}
ul{
  list-style: none;
}
.pilt1 {
  display: flex;
  align-items:center;
  justify-content: center;

}
